// colors themes
$clr-l5: #f2fafe;
$clr-l4: #d5f0fa;
$clr-l3: #abe0f6;
$clr-l2: #80d1f1;
$clr-l1: #56c2ec;
$clr-l: #2ab2e7;
$clr-d1: #19a7df;
$clr-d2: #1694c6;
$clr-d3: #1382ae;
$clr-d4: #116f95;
$clr-d5: #0e5d7c;



// footer colors
$footer-bottom: $clr-d5;
