.carpet-off-canvas {
    background: url(../svg/background.svg) no-repeat;
    background-size: 100vw auto;
    background-repeat: repeat-y;
}

.body-row {
  background: $white;
}

.tile-off-canvas {
  background: url(../svg/tile.svg) repeat;
}
