
.italics {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.lead {
  font-weight: 700;
}

.callout-contact {
  background:rgba(0,0,0,0.05);
  padding: 0 2rem;
}




.email-group {
  display: inline;
  .button {
    background-color: $footer-bottom;
  }
}

.img-about {
  max-width: 50%;

}

.menu-text {
  color: $white;
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;

}
