
      .title-bar {
      width: 100%;
      z-index: 100;
      transition: height .25s ease;
      height: 4.5em;


    }
    .title-bar-title {
      padding-right: 0;
      margin-right: 0;
      #logo-tuc
      {

        padding-top: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
        display: inline-flex;
        width: 30%;
        height: 30%;
          @include breakpoint(850) {
            width: 75%;
            height: 75%;
            margin-left: 10px;
          }
      }
    }


.title-bar-right {
  a {
    font-size: 1.1rem;
    margin: 0 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $white;

    &:hover {
      background: rgba(#000, 0.05);
      border-bottom: 1px solid $white;
    }
    a::after {
      color: $white;
    }
  }
  .current a {
      background: rgba(#000, 0.05);
      font-weight: 600;
      color: $white;
      border-bottom: 2px solid $white;
    }
    padding-top: 1.4em;
}


    .title-bar .title-bar-right, .title-bar .title-bar-left {
      transition: padding-top .25s ease;
        }
    .title-bar.shrink {
      height: 3em;
    }
    .title-bar.shrink .title-bar-right, .title-bar.shrink .title-bar-left {
      padding-top: 0em;
    }
    .title-bar .dropdown.menu li {
      float: left;
    }
    .title-bar .dropdown.menu .is-dropdown-submenu {
      border: none;
      background-color: #0e5d7c;
    }
    #root {
      margin-top: 1em;
    }
