
  <div class="callout callout-contact">
    <form>
      <div class="row">
        <div class="small-12 columns">
          <h3 class="call-us">Call us today</h3>

            <a class="large expanded button button-phone" href="#">9330 4920</a>
          </div>
        <br>
        <br>
        <div class="small-12 columns">
          <h3 class="call-us">Book online</h3>
          <a data-open="modalBook" class="large expanded button button-email">Book now</a>
        </div>
      </div>
    </form>
  </div>

    <div class="callout callout-social">
      <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.theultimateclean.com.au%2F&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId"
       width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>


<!-- Booking Section -->
              <div class="reveal" id="modalBook" data-reveal data-abide-error>
                  <h2 class="text-center">Make a booking</h2>
                  <form id="contactForm" action="assets/php/send.php" method="post">

                      <label for="name">Your name</label>
                      <input type="text" name="name">

                      <label for="email">Your email</label>
                      <input type="email" name="email">

                      <label for="message">Add your message</label>
                      <textarea name="messageField"></textarea>

                      <div id="correct">E-mail Sent</div>
                        <input class="button expanded button-submit" type="submit" name="submit" value="Submit"/>
                  </form>
</div>
