    <div class="callout secondary">
            <h5>Carpet Stain Removal</h5>
  <p>
    The Ultimate Clean utilises the best Carpet Stain Removal systems for:
  </p>
            <ul>
              <li>mould</li>
              <li>wine</li>
              <li>urine</li>
              <li>faeces</li>
              <li>lipstick</li>
              <li>make-up</li>
              <li>milk</li>
              <li>nail polish</li>

              <li>vomit</li>
              <li>creams and ointments</li>
              <li>ink</li>
              <li>grass stains</li>
              <li>blood</li>
              <li>coffee</li>
              <li>tea</li>
              <li>orange juice</li>
              <li>hair dye</li>
              <li>water marks</li>
              <li>pot plants marks</li>
            </ul>
          </div>
          <div class="callout secondary">

            <br>
            <br>

                          <h5>Checkout our truck mount</h5>
                            <img src= "assets/img/img-370.jpg" alt="Carpet Cleaning Cleaning">

                            <p class="lead">Sapphire 370 Truckmount</p>

                          <p class="subheader">
                            The Ultimate Clean use the 370 truckmount for good reason.
                              It has the hottest water of any truckmount in its class, delivers the strongest
                              vacuum and the best fuel efficiency, and features a space-saving profile that's
                              half the footprint of other truckmounts. It's also versatile – clean carpets,
                              upholstery, and hard surfaces! And now the 370 truckmount is Gold-Certified by
                              the Carpet and Rug Institute (CRI).
                          </p>

                </div>
