<h3 class="text-center">Choose from <strong>The Ultimate Cleaning</strong> Services</h3>
<br>
<div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
    <div class="medium-4 columns">
        <div class="callout" data-equalizer-watch>
            <a href="carpet-cleaning.html"><img class="services-image" src="assets/img/carpet-cleaning.jpg" alt="Carpet Cleaning">
                <p class="lead">Carpet Cleaning</p>
                <p class="subheader">Do you want the <strong>Ultimate</strong> carpet cleaning in Perth? At the Ultimate Clean we <strong>Gaurentee</strong> you will be impressed. We use the best Carpet Cleaning system.
                </p>

            </a>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="callout" data-equalizer-watch>
            <a href="tile-cleaning.html">
                <img class="services-image" src="assets/img/tile-cleaning.jpg" alt="Tile Cleaning" href="carpet-cleaning.html">
                <p class="lead">Tile Cleaning</p>
                <p class="subheader">Do you want the <strong>Ultimate</strong> tile cleaning in Perth? At the Ultimate Clean we <strong>Gaurentee</strong> you will be impressed. We use the best Tile Cleaning system.
                </p>
            </a>
        </div>
    </div>
    <div class="medium-4 columns">
        <div class="callout" data-equalizer-watch>
            <a href="upholstery-cleaning.html">
                <img class="services-image" src="assets/img/upholstery-cleaning.jpg" alt="Upholstery Cleaning">
                <p class="lead">Upholstery Cleaning</p>
                <p class="subheader">Do you want the <strong>Ultimate</strong> upholstery cleaning in Perth? At the Ultimate Clean we <strong>Gaurentee</strong> you will be impressed. We use the best Upholstery Cleaning system.
                </p>
            </a>
        </div>
    </div>
</div>
