<br>
  <h2 class="text-center">Choose from <strong>The Ultimate Cleaning</strong> Services</h2>
  <br>
    <div class="large-4 columns">
        <div class="callout callout-services" data-equalizer-watch>
            <a href="carpet-cleaning-perth.html">
              <img class="services-image" src="assets/img/carpet-cleaning-large.jpg" alt="Carpet Cleaning">
                <p class="lead lead-services">Carpet Cleaning</p>
                <p class="subheader subheader-services">Do you want the <strong>Ultimate</strong> carpet cleaning in Perth? At the Ultimate Clean we <strong>Guarantee</strong> you will be impressed. We use the best Carpet Cleaning system.
                </p>

            </a>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="callout callout-services" data-equalizer-watch>
            <a href="tile-and-grout-cleaning-perth.html">
                <img class="services-image" src="assets/img/tile-cleaning-large.jpg" alt="Tile Cleaning" href="carpet-cleaning-perth.html">
                <p class="lead lead-services">Tile Cleaning</p>
                <p class="subheader subheader-services">Do you want the <strong>Ultimate</strong> tile cleaning in Perth? At the Ultimate Clean we <strong>Guarantee</strong> you will be impressed. We use the best Tile Cleaning system.
                </p>
            </a>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="callout callout-services" data-equalizer-watch>
            <a href="upholstery-cleaning-perth.html">
                <img class="services-image" src="assets/img/upholstery-cleaning-large.jpg" alt="Upholstery Cleaning">
                <p class="lead lead-services">Upholstery Cleaning</p>
                <p class="subheader subheader-services">Do you want the <strong>Ultimate</strong> upholstery cleaning in Perth? At the Ultimate Clean we <strong>Guarantee</strong> you will be impressed. We use the best Upholstery Cleaning system.
                </p>
            </a>
        </div>
    </div>
</div>
