<footer>
  <div class="footer-main">

    <div class="box-fb footer-1">
      <p class="lead">The Ultimate Clean</p>
      <ul class="menu vertical">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
      </ul>
    </div>

    <div class="box-fb footer-2">
      <p class="lead">Services</p>
      <ul class="menu vertical">
      <li><a href="carpet-cleaning-perth.html">Carpet Cleaning</a></li>
      <li><a href="tile-and-grout-cleaning.html">Tile Cleaning</a></li>
      <li><a href="upholstery-cleaning-perth.html">Upholstery Cleaning</a></li>
    </ul>
      </ul>
    </div>

    <div class="box-fb footer-social">
      <p class="lead">Follow Us</p>
      <ul class="menu">
        <li><a href="https://twitter.com/theultimateclea"><i class="fi-social-twitter social-icons"></i></a></li>
        <li><a href="https://www.facebook.com/theultimateclean.com.au#"><i class="fi-social-facebook social-icons"></i></a></li>
        <li><a href="https://plus.google.com/u/0/b/109137538950153923279/+TheUltimateCleanAlfredCove/posts"><i class=" fi-social-google-plus social-icons"></i></a></li>
        <li><a href="https://au.linkedin.com/in/brett-prosser-80435b4b"><i class="fi-social-linkedin social-icons"></i></a></li>
      </ul>
    </div>

    <div class="box-fb footer-email">
      <label>
      <p class="lead">Join our email list</p>
      <form data-abide novalidate>


            <div class="email-group">
              <input type="text" class="email-list" placeholder="Enter your email address" required pattern="email" maxlength="20">
              <input type="submit" class="button" value="Submit">
              </div>
              <span class="form-error">
                  <i class="fi-alert"></i> Your email is required</span>

          </label>


        </form>
    </div>

  </div>
  <div class="row expanded footer-bottom">

    <div class="copyright">
      <p class="text-center"><small>Copyright © 2012 theultimateclean.com.au</small></p>
    </div>
  </div>

</footer>
