
      <p>
  		    <a href="http://www.facebook.com/zurb" class="small fc-webicon facebook">Like us on Facebook</a>
  		    <a href="http://www.facebook.com/zurb" class="fc-webicon facebook">Like us on Facebook</a>
  		    <a href="http://www.facebook.com/zurb" class="large fc-webicon facebook">Like us on Facebook</a>
  		  </p>

  <p class="lead social">Contact Us</p>
  <ul class="menu vertical" id="social-icons">
    <li class="social-icons"><i class="fi-social-twitter"></i> Twitter</li>
    <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
    <li><a href="#"><i class=" fi-social-google-plus"></i>Google +</a></li>
    <li><a href="#"><i class="fi-social-linkedin"></i>Linkedin</a></li>
  </ul>
