<!-- off-canvas title bar for 'small' screen -->

<div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
    <div class="title-bar-left side-nav">

        <div class="container">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <div class="title-bar-title">Menu</div>
        </div>

    </div>
</div>


<!-- off-canvas left menu -->
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu" data-dropdown-menu>
        <li>
          <object id="logo-sm" type="image/svg+xml" data="{{root}}assets/svg/logo-sm.svg">The Ultimate Clean</object>
        </li>
        <li class="active"><a href="index.html">Home</a></li>
        <hr>
        <li><a href="#">Services</a></li>
        <li><a href="carpet-cleaning.html">Carpet Cleaning</a></li>
        <li><a href="tile-cleaning.html">Tile Cleaning</a></li>
        <li><a href="upholstery-cleaning.html">Upholstery Cleaning</a></li>
        <hr>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
</div>

<!-- "wider" top-bar menu for 'medium' and up -->
<div id="widemenu" class="top-bar">
    <div class="top-bar-left">
        <nav class="main-nav">
            <div class="container">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        <object id="logo-sm" type="image/svg+xml" data="{{root}}assets/svg/logo-sm.svg">The Ultimate Clean</object>
                    </li>




                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="has-submenu">

                        <a href="#">Services</a>
                        <ul class="menu submenu vertical" data-submenu>
                            <li><a href="carpet-cleaning.html">Carpet Cleaning</a></li>
                            <li><a href="tile-cleaning.html">Tile Cleaning</a></li>
                            <li><a href="upholstery-cleaning.html">Upholstery Cleaning</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- /"wider" top-bar menu for 'medium' and up -->
