<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="mobile-ofc vertical menu">

    <li>
      <li class="active"><a href="index.html">Home</a></li>



      <ul class="submenu menu vertical" data-submenu>
        <li><p class="title-ofc">Services</p></li>
        <li><a href="carpet-cleaning.html">Carpet Cleaning</a></li>
        <li><a href="tile-cleaning.html">Tile Cleaning</a></li>
        <li><a href="upholstery-cleaning.html">Upholstery Cleaning</a></li>
        <li class="divider"></li>

        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="contact.html" class="button">Contact Us</a></li>

      </ul>
    </li>


  </ul>
</div>

<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

</div>
