<div class="callout secondary">
    <h5>You will love our new air movers!</h5>
    <img src="assets/img/img-velo.jpg">
    <p>
        Our new air movers dry your tiles within minutes allowing you can walk on them immediately.
    </p>
    <h5>At The Ultimate Clean our thrilled clients include:</h5>
    <ul>
        <li>owners wanting a spring clean</li>
        <li>tenants who want their bond back</li>
        <li>landlords of high traffic commercial buildings</li>
        <li>families with young children</li>
        <li>home owners wanting to sell</li>
        <li>not-for-profit organisations</li>
        <li>the list goes on…</li>
    </ul>
</div>
